<div class="container mt-4 mx-auto px-4 md:px-6">
<div class="flex flex-wrap items-center justify-between mb-6">
    <h1 class="text-3xl md:text-4xl font-semibold text-gray-800" i18n="@@registrocambioscontrasenia.list.headline">
        Historial de registro de cambios de contraseña
    </h1>
</div>

<div *ngIf="isLoading" class="text-center w-full my-4 text-blue-600 font-semibold">
    Cargando registros de cambios de contraseña...
</div>

<div *ngIf="!isLoading && (!dataSource.data || dataSource.data.length === 0)" class="text-gray-600 italic">
    No se encontraron registros de cambios de contraseña.
</div>

<div class="overflow-x-auto mt-4" >
    <button (click)="loadData()"
        class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300 focus:ring-4 rounded px-5 py-2 mr-2 mb-5">
        Cargar nuevamente
    </button>

    <mat-table [dataSource]="dataSource" matSort class="min-w-full tablas">

        <!-- ID Registro -->
        <ng-container matColumnDef="idRegistro">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id Registro </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{ registro.idRegistro }}</mat-cell>
        </ng-container>

        <!-- ID Usuario -->
        <ng-container matColumnDef="usuarioId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id Usuario </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{ registro.usuarioId }}</mat-cell>
        </ng-container>

        <!-- Fecha de Cambio -->
        <ng-container matColumnDef="fechaCambio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Cambio </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{ registro.fechaCambio | date: 'short' }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
        *matRowDef="let row; let i = index; columns: displayedColumns;"
        [ngClass]="i % 2 === 0 ? 'fila-par' : 'fila-impar'">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
</div>
