<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@registrocambioscontrasenia.list.headline">Registrocambioscontrasenias</h1>
    <div>
        <a routerLink="/registrocambioscontrasenias/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@registrocambioscontrasenia.list.createNew">Create new Registrocambioscontrasenia</a>
    </div>
</div>
@if (!registrocambioscontrasenias || registrocambioscontrasenias.length === 0) {
<div i18n="@@registrocambioscontrasenia.list.empty">No Registrocambioscontrasenias could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@registrocambioscontrasenia.idregistro.label">Idregistro</th>
                <th scope="col" class="text-left p-2" i18n="@@registrocambioscontrasenia.usuarioid.label">Usuarioid</th>
                <th scope="col" class="text-left p-2" i18n="@@registrocambioscontrasenia.fechacambio.label">Fechacambio</th>
                <th scope="col" class="text-left p-2" i18n="@@registrocambioscontrasenia.usuarios.label">Usuarios</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (registrocambioscontrasenia of registrocambioscontrasenias; track registrocambioscontrasenia.idregistro) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ registrocambioscontrasenia.idregistro }}</td>
                <td class="p-2">{{ registrocambioscontrasenia.usuarioid }}</td>
                <td class="p-2">{{ registrocambioscontrasenia.fechacambio }}</td>
                <td class="p-2">{{ registrocambioscontrasenia.usuarios }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/registrocambioscontrasenias/edit', registrocambioscontrasenia.idregistro]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@registrocambioscontrasenia.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(registrocambioscontrasenia.idregistro!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@registrocambioscontrasenia.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
