<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@usuarios.edit.headline">Edit Usuarios</h1>
    <div>
        <a routerLink="/usuarioss" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@usuarios.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@usuarios.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="apellidos" i18n-label="@@usuarios.apellidos.label" label="Apellidos" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@usuarios.email.label" label="Email" />
    <app-input-row *ngIf="mostrarCampoPassword" [group]="editForm" field="password" rowType="password" i18n-label="@@usuarios.password.label" label="Nueva contraseña" />
    <app-input-row [group]="editForm" field="activo" rowType="checkbox" i18n-label="@@usuarios.activo.label" label="Activo" />
    <app-input-row [group]="editForm" field="empresa" rowType="select" [options]="empresasValues" i18n-label="@@usuarios.empresas.label" label="Empresas" />
    <app-input-row [group]="editForm" field="roles" rowType="select" [options]="rolesValues" i18n-label="@@usuarios.roles.label" label="Roles" />
    <div class="mb-4">
        <button type="button" (click)="mostrarCampoPassword = true"
                class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">
            Cambiar contraseña
        </button>
    </div>
    <input type="submit" i18n-value="@@usuarios.edit.headline" value="Edit Usuarios" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
