<div class="container mt-4 mx-auto px-4 md:px-6">
<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@fichajes.edit.headline">Editar Fichajes</h1>
    <div>
        <a routerLink="/fichajes" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@fichajes.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id_fichaje" rowType="number" i18n-label="@@fichajes.id_fichaje.label" label="Idfichaje" />
    <app-input-row [group]="editForm" field="usuario_id" rowType="number" i18n-label="@@fichajes.usuario_id.label" label="Usuarioid" />
    <app-input-row [group]="editForm" field="fecha" rowType="datetimepicker" i18n-label="@@fichajes.fecha.label" label="Fecha" />
    <app-input-row [group]="editForm" field="hora_entrada" rowType="datetimepicker" i18n-label="@@fichajes.hora_entrada.label" label="Horaentrada" />
    <app-input-row [group]="editForm" field="hora_salida" rowType="datetimepicker" i18n-label="@@fichajes.hora_salida.label" label="Horasalida" />
    <app-input-row [group]="editForm" field="estado" i18n-label="@@fichajes.estado.label" label="Estado" />
    <app-input-row [group]="editForm" field="usuarios" rowType="select" [options]="usuariosValues" i18n-label="@@fichajes.usuarios.label" label="Usuarios" />
    <input type="submit" i18n-value="@@fichajes.edit.headline" value="Edit Fichajes" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
</div>