<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@configuracionautenticacion.add.headline">Add Configuracionautenticacion</h1>
    <div>
        <a routerLink="/configuracionautenticacions" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@configuracionautenticacion.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="usuarioid" rowType="number" i18n-label="@@configuracionautenticacion.usuarioid.label" label="Usuarioid" />
    <app-input-row [group]="addForm" field="codigosecreto" i18n-label="@@configuracionautenticacion.codigosecreto.label" label="Codigosecreto" />
    <app-input-row [group]="addForm" field="activado" rowType="checkbox" i18n-label="@@configuracionautenticacion.activado.label" label="Activado" />
    <input type="submit" i18n-value="@@configuracionautenticacion.add.headline" value="Add Configuracionautenticacion" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
