<div class="container mt-4 mx-auto px-4 md:px-6">
<div class="flex flex-wrap items-center justify-between mb-6">
    <h1 class="text-3xl md:text-4xl font-semibold" i18n="@@historialactividad.list.headline">Historial de actividad</h1>
</div>

<!-- Mostrar mensaje solo si está vacío -->
<div *ngIf="historialactividads && historialactividads.length === 0" class="text-gray-500 italic" i18n="@@historialactividad.list.empty">
    No se encontró ningún historial de actividad.
</div>

<!-- SIEMPRE renderiza tabla y paginador -->
<div class="overflow-x-auto">
    <mat-table [dataSource]="dataSource" matSort class="min-w-full tablas">

        <!-- Columnas... -->
        <!-- ID -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id usuario </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{registro.idHistorial}}</mat-cell>
        </ng-container>

        <!-- Usuario -->
        <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{registro.nombreUsuario}}</mat-cell>
        </ng-container>

        <!-- Acción -->
        <ng-container matColumnDef="accion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acción </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{registro.accion}}</mat-cell>
        </ng-container>

        <!-- Entidad -->
        <ng-container matColumnDef="entidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{registro.entidadAfectada}}</mat-cell>
        </ng-container>

        <!-- Fecha -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro </mat-header-cell>
            <mat-cell *matCellDef="let registro">{{registro.fecha | date: 'short'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
        *matRowDef="let row; let i = index; columns: displayedColumns;"
        [ngClass]="i % 2 === 0 ? 'fila-par' : 'fila-impar'">
      </mat-row>

    </mat-table>

    <!-- Paginador debe estar siempre presente -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>