<header class="bg-blue-300">
    <div class="container mx-auto px-4 md:px-6">
        <nav class="flex flex-wrap items-center justify-between py-2">
            <a routerLink="/" class="flex items-center py-1.5 mr-4">
                <img ngSrc="logo.png" i18n-alt="@@app.title" alt="SistemaFichajes" width="30" height="30" class="inline-block" />
                <span class="text-xl pl-3 font-bold" i18n="@@app.title">SistemaFichajes</span>
            </a>

            <!-- Botón móvil -->
            <button type="button" class="js-dropdown md:hidden border rounded cursor-pointer" data-dropdown-keepopen="true"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <div class="space-y-1.5 my-2.5 mx-4">
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                </div>
            </button>

            <!-- Menú principal -->
            <div class="hidden md:block flex grow md:grow-0 justify-end basis-full md:basis-auto pt-3 md:pt-1 pb-1" id="navbarToggle">
                <ul class="flex">
                    <li>
                        <a routerLink="/home" class="block text-black p-2" i18n="@@navigation.home">Inicio</a>
                    </li>
                    <li class="relative">
                        <button type="button" class="js-dropdown block text-black p-2 cursor-pointer" id="navbarEntitiesLink" aria-expanded="false">
                            <span i18n="@@navigation.entities">Entidades</span>
                            <span class="text-[9px] align-[3px] pl-0.5">&#9660;</span>
                        </button>
                        <ul class="hidden absolute right-0 bg-white border border-gray-300 rounded min-w-[12rem] py-2 shadow-md z-50" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/usuarios" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@usuarios.list.headline">Usuarios</a></li>
                            <li><a routerLink="/roles" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@roles.list.headline">Roles</a></li>
                            <li><a routerLink="/empresas" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@empresas.list.headline">Empresas</a></li>
                            <li><a routerLink="/fichajes/control" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@fichajes.control.headline">Control de fichajes</a></li>
                            <li><a routerLink="/fichajes" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@fichajes.list.headline">Ver historial de fichajes</a></li>
                            <li><a routerLink="/horasextras/add" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@horasextras.add.headline">Solicitar horas extras</a></li>
                            <li><a routerLink="/horasextras/aprobar" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@horasextras.aprobar.headline">Aprobar horas extras</a></li>
                            <li><a routerLink="/horasextras/historial" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@horasextras.historial.headline">Ver historial de horas extras</a></li>
                            <li><a routerLink="/registrocambioscontrasenia" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@registrocambioscontrasenia.list.headline">Registro cambios contraseñas</a></li>
                            <li><a routerLink="/configuracionautenticacion" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@configuracionautenticacion.list.headline">Configuración autenticación</a></li>
                            <li><a routerLink="/historialactividad" class="block w-full hover:bg-gray-100 px-4 py-2" i18n="@@historialactividad.list.headline">Historial actividad</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
