<h1 class="grow text-3xl md:text-4xl font-medium mb-8 text-center" i18n="@@home.index.headline">Bienvenido</h1>
<p class="mb-12 text-center" i18n="@@home.index.text"><strong>ESTA ES LA PÁGINA PRINCIPAL DE NUESTRO PROYECTO</strong></p>
<div class="md:w-2/5 mb-12 content-center mx-auto">
    <div class="flex flex-col border border-gray-500 rounded">
        <a routerLink="/usuarios" class="w-full border-gray-500 hover:bg-gray-100 border-b rounded-t px-4 py-2" i18n="@@usuarios.list.headline">Usuarios</a>
        <a routerLink="/roles" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@roles.list.headline">Roles</a>
        <a routerLink="/empresas" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@empresas.list.headline">Empresas</a>
        <a routerLink="/fichajes" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@fichajes.list.headline">Fichajes</a>
        <a routerLink="/horasextras" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@horasextras.list.headline">Horas extras</a>
        <a routerLink="/registrocambioscontrasenia" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@registrocambioscontrasenia.list.headline">Registro cambios contraseñas</a>
        <a routerLink="/configuracionautenticacion" class="w-full border-gray-500 hover:bg-gray-100 border-b px-4 py-2" i18n="@@configuracionautenticacion.list.headline">Configuracion autenticacion</a>
        <a routerLink="/historialactividad" class="w-full border-gray-500 hover:bg-gray-100 rounded-b px-4 py-2" i18n="@@historialactividad.list.headline">Historial actividad</a>
    </div>
</div>
