<div class="flex flex-wrap mb-6">
  <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@empresas.list.headline">Empresas</h1>
  <div>
    <a routerLink="/empresas/add"
       class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300 focus:ring-4 rounded px-5 py-2"
       i18n="@@empresas.list.createNew">Crear nueva empresa</a>
  </div>
</div>

<div *ngIf="isLoading" class="text-center w-full my-4 text-blue-600 font-semibold">
  Cargando empresas...
</div>

<div class="overflow-x-auto mt-4">
  <mat-table [dataSource]="dataSource" matSort class="min-w-full tablas">

    <!-- ID -->
    <ng-container matColumnDef="id_empresa">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.id_empresa }} </mat-cell>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.nombre }} </mat-cell>
    </ng-container>

    <!-- CIF -->
    <ng-container matColumnDef="cif">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CIF </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.cif }} </mat-cell>
    </ng-container>

    <!-- Dirección -->
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.direccion }} </mat-cell>
    </ng-container>

    <!-- Teléfono -->
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.telefono }} </mat-cell>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let empresa"> {{ empresa.email }} </mat-cell>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let empresa">
        <a [routerLink]="['/empresas/edit', empresa.id_empresa]"
           class="inline-block text-white hover:text-black bg-indigo-500 hover:bg-indigo-300 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm"
           i18n="@@empresas.list.edit">Editar</a>
        <!-- <button type="button" (click)="confirmDelete(empresa.id_empresa)" class="...">Eliminar</button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
    *matRowDef="let row; let i = index; columns: displayedColumns;"
    [ngClass]="i % 2 === 0 ? 'fila-par' : 'fila-impar'">
  </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
